nav ul{
	display:flex;
	gap:20px;
	justify-content:space-around;
	align-content:center;
	list-style:none;
}

li a{
	color:black;
	text-decoration:none;
}

h2{
	text-align:center;
}

video{
	text-align:center;
}